*.pyc
*.swp
*~
build/
dist/
__pycache__/
IMAPClient.egg-info
doc/doctrees/
doc/html/
.tox/
.eggs/
setuptools-*
unittest2-*
six-*

# By explicity not ignoring these, ripgrep (rg) will search them.
!.github/
