include README.rst NEWS.rst HACKING.rst COPYING AUTHORS THANKS
include livetest.py
include distribute_setup.py
include interact.py
recursive-include imapclient/examples *
recursive-include doc *.txt *.rst *.py *.png *.css *.html

